<!DOCTYPE html>
<html>
<head>
  <title>Productos en tiempo real</title>
</head>
<body>
  <h1>Productos en tiempo real</h1>
  
  <h2>Crear Producto</h2>
  <form id="crearProductoForm">
    <input type="text" id="title" placeholder="Título" required>
    <input type="text" id="description" placeholder="Descripción" required>
    <input type="number" id="price" placeholder="Precio" required>
    <button type="submit">Crear Producto</button>
  </form>

  <h2>Lista de Productos</h2>
  <ul id="productos"></ul>

  <a href="home.handlebars">Volver a la Lista de Productos</a> 
  
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('productosActualizados', productos => {
      const listaProductos = document.getElementById('productos');
      listaProductos.innerHTML = ''; // Limpiar la lista antes de actualizar

      productos.forEach(producto => {
        const nuevoProducto = document.createElement('li');
        nuevoProducto.innerHTML = `
          <h3>${producto.title}</h3>
          <p>${producto.description}</p>
          <p>Precio: $${producto.price}</p>
          <!-- Otros atributos -->
        `;
        listaProductos.appendChild(nuevoProducto);
      });
    });

    const crearProductoForm = document.getElementById('crearProductoForm');
    crearProductoForm.addEventListener('submit', event => {
      event.preventDefault();
      const nuevoProducto = {
        title: document.getElementById('title').value,
        description: document.getElementById('description').value,
        price: parseFloat(document.getElementById('price').value)
        // Agrega otros atributos si es necesario
      };
      socket.emit('crearProducto', nuevoProducto);
      crearProductoForm.reset();
    });
  </script>
</body>
</html>
